/* ! CARDS ! */

/* # Card Main */

.card-main {
  max-width: 500px;
}

/* ! BUTTONS ! */

/* # Card Button */

.card-btn {
  background-color: #cb6b31;
  color: white;
  border: 1px solid #cb6b31;
  padding: 0.5rem 0.8rem;
}

.card-btn:hover {
  background-color: #983d07;
  color: white;
}

/* ! BADGES ! */

/* # Card Tags Badge */

.tags-badge-container {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.tags-badge {
  margin-left: 5px;
}
